@import '~bootstrap/scss/bootstrap';

.content {
  margin: .8vw 0;
  background: lightblue;
  padding: .8vw;
}

.tic-panel {
  border: solid 2px black;
  margin: .8vw 0;
  background: #66A5AD;
  padding: .8vw;
}

.tic-box {
  border: solid black 1px;
  font-size: 5vw;
  background: #6AB187;
  text-align: center;
  color: lavender;
}

.tic-box:hover {
  background: #20948B;
}
